.battle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 100%;

  @media screen and (max-width: 768px) {
    flex-direction: row;
  }
}

.pokemonCard {
  background-color: #efefef;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 200px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
